{% extends "base.html" %}
{% block content %}

<h2>Polityka prywatności</h2>
<hr>

<pre style="white-space: pre-wrap;">
POLITYKA PRYWATNOŚCI

1. Administrator danych

Administratorem danych osobowych jest Łukasz Dawydzik,
prowadzący serwis internetowy Florance.

Kontakt: florance.polska@gmail.com

2. Zakres przetwarzanych danych

W ramach korzystania z serwisu przetwarzane są następujące dane:
- nazwa użytkownika
- adres e-mail
- imię i nazwisko
- lokalizacja (miasto, województwo, kraj)
- informacje o umiejętnościach zawodowych
- dane dotyczące uprawnień (np. prawo jazdy)
- zdjęcie profilowe (jeśli użytkownik je doda)

3. Cel przetwarzania danych

Dane przetwarzane są w celu:
- umożliwienia założenia i obsługi konta użytkownika
- umożliwienia korzystania z funkcjonalności platformy
- zapewnienia bezpieczeństwa kont użytkowników
- realizacji obowiązków prawnych

4. Podstawa prawna przetwarzania

Podstawą przetwarzania danych jest:
- art. 6 ust. 1 lit. b RODO – realizacja umowy (założenie i prowadzenie konta)
- art. 6 ust. 1 lit. f RODO – prawnie uzasadniony interes administratora (bezpieczeństwo serwisu)

5. Okres przechowywania danych

Dane są przechowywane przez okres posiadania konta użytkownika.
Po usunięciu konta dane są usuwane z systemu w możliwie najkrótszym czasie.

6. Hosting i przetwarzanie danych

Serwis jest hostowany na serwerach dostawcy hostingu (Render.com).
Dane mogą być przetwarzane przez dostawcę wyłącznie w celu utrzymania infrastruktury technicznej.

7. Prawa użytkownika

Użytkownik ma prawo do:
- dostępu do swoich danych
- ich sprostowania
- usunięcia danych
- ograniczenia przetwarzania
- wniesienia skargi do Prezesa UODO

8. Kontakt

W sprawach dotyczących danych osobowych można kontaktować się pod adresem:
florance.polska@gmail.com
</pre>

{% endblock %}
