{% extends "base.html" %}
{% block content %}

<h2>Rejestracja florysty</h2>

<form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">
  {% csrf_token %}

  <h5 class="mb-3">Dane logowania</h5>

  <div class="mb-3">
    <label class="form-label">Nazwa użytkownika</label>
    {{ form.username }}
    {{ form.username.errors }}
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    {{ form.email }}
    {{ form.email.errors }}
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
  <label class="form-label">Hasło</label>
  {{ form.password }}

  {% if form.password.help_text %}
    <div class="form-text">
      {{ form.password.help_text|safe }}
    </div>
  {% endif %}

  {{ form.password.errors }}
</div>


    <div class="col-md-6 mb-3">
      <label class="form-label">Powtórz hasło</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>
  </div>

  <hr>

  <h5>Dane osobowe</h5>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Imię</label>
      {{ form.imie }}
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Nazwisko</label>
      {{ form.nazwisko }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Miasto</label>
      {{ form.lokalizacja_miasto }}
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Województwo</label>
      {{ form.lokalizacja_wojewodztwo }}
    </div>
  </div>

  <hr>

  <h5>Forma współpracy</h5>
  <div class="form-check">
    {{ form.czy_freelancuje }}
    <label class="form-check-label">Freelancer</label>
  </div>
  <div class="form-check">
    {{ form.czy_pracownia }}
    <label class="form-check-label">Pracownia</label>
  </div>

  <hr>

  <h5>Umiejętności i dostępność</h5>
  <div class="form-check">{{ form.czy_uklada_kwiaty }} Układam kwiaty</div>
  <div class="form-check">{{ form.czy_moze_dzwigac }} Mogę dźwigać</div>
  <div class="form-check">{{ form.czy_pracuje_na_wysokosci }} Pracuję na wysokości</div>

  <hr>

  <h5>Uprawnienia</h5>
  <div class="form-check">{{ form.czy_prawo_jazdy_b }} Prawo jazdy B</div>
  <div class="form-check">{{ form.czy_prawo_jazdy_c }} Prawo jazdy C</div>
  <div class="form-check">{{ form.czy_ma_auto }} Mam własne auto</div>

  <div class="mt-4">
    <button class="btn btn-success">Zarejestruj się</button>
    <a href="{% url 'login' %}" class="btn btn-secondary">Mam już konto</a>
  </div>
</form>

{% endblock %}
